<div class="row">
	<div class="span6">
		<h1>About</h1>
		<p>
			Photographers, Writers, Directors, Designers, Animators and Coders create amazing work as individuals. What if these people were able to be easily brought together? Imagine what they could create.
			UNITE is a project to bring these creative people together to create awesome media. From short films to new software, what you do with UNITE is up to you.  UNITE will allow you to easily find the right type of creative person to help to make your project or idea a reality.
		</p>
	</div>	
</div>	