<div class="hero-unit">
<div class="row">
	<div class="span6">
		<h1>About</h1>
		<p>
			Photographers, Writers, Directors, Designers, Animators, Musicians and Coders create amazing work as individuals. What if these people were able to be easily brought together? Imagine what they could create.
		</p>
		<p>	
			UNITE is a project to bring these creative people together to create awesome media. From short films to new software, what you do with UNITE is up to you. UNITE allows users to post projects to receive feedback from other users. With the help of other's feedback, your project could reach a whole new level!
		</p>	
		<p>		
			UNITE brings all types of creative people together in one general location. The ability to get in contact with and network with other creative people allows for a unique experience.
			Post your individual projects or work as a team with other UNITE users to continue to express your creativity in what ever manner you see fit!
		</p>
		<p>
    	<%= mail_to "nathanieltbodnar@gmail.com", "Contact Us", class: "btn btn-large btn-primary" %>
		</p>
	<p>
		<% if user_signed_in? %>
		<% else %> 
		<%= link_to "Create an Account!",new_user_registration_path, class: "btn btn-large btn-primary"%>
		<% end %>
	</p>
</div>
</div>
