<div class="row">
	<div class="span6">
		<div class="block">
			<img alt="photo2" src="/assets/UniteO.jpg">
			<!--<div id="myCarousel" class="carousel slide">
			  <div class="carousel-inner">
			    <div class="item active">
			    		<img alt="Unite" src="/assets/dark.jpg">
			    		<!--<div class="carousel-caption">	
			    </div>

			    <div class="item">
			  	<a href="">
			  		<img alt="photo2" src="/assets/UniteOrange.jpg">
			  	</a>	
			    </div>	
			   	
			    <div class="item">
			    	<img alt="DarkSide" src="/assets/Darkside of the moon test 2.jpg">
			    </div>
			  </div>
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div> -->
		</div>
	</div> 
		<div class="span6">
			<div class="block">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/EH0PTy2WK3s" frameborder="0" allowfullscreen></iframe>
			</div>
	</div>
</div>
<div class="steps">
	<div class="row">
		<div class= "span4">
			<center>
				<h1> Step 1: </h1>
				<p>Join UNITE to be able to use all features!</p>
				<p> <%= link_to "Create an Account!",new_user_registration_path, class: "btn btn-large btn-primary"%> </p>
			</center>
		</div>
		<div class= "span4">
			<center>
				<h1> Step 2: </h1>
				<p>Post your work for others to view!</p>
				<p>  <%= link_to "Post your Projects",new_project_path, class: "btn btn-large btn-primary"%> </p>
			</center>
		</div>
		<div class= "span4">
				<center>
				<h1> Step 3: </h1>
				<p>Team up with others to make awesome media!</p>
				<p>  <%= link_to "UNITE with Others", projects_path, class: "btn btn-large btn-primary"%> </p>
			</center>
		</div>
	</div>
	
</div>

